.contaner{
  height: 350px;
  margin: auto;
  position: relative;
  width: 90%;
  display: grid;
  place-items: center;

}

.slider-contaner{
  display: flex;
  width: calc(170px);
  animation: scroll 20s linear infinite
  
}

@keyframes scroll {
    0%{
      transform: translateX(0);
    }
    100%{
      transform: translateX(calc(-250px * 8));
    }
}

.nav{
  z-index: 30;
  cursor: pointer;
  font-weight: 600;
  
  
}

.nav:hover{
  color: #953269;
  scale: 1.2;
}

